.review-item {
    display: flex;
    align-items: center;
    padding: 10px;
    border-bottom: 1px solid #ddd;
}

.review-item-image {
    width: 50px;
    height: 75px;
    object-fit: cover;
    border-radius: 5px;
    margin-right: 10px;
}

.review-item-content {
    flex: 1;
}

.review-item-movie-name {
    font-size: 1.2em;
    margin: 0;
}

.review-item-author-name {
    font-size: 0.9em;
    color: #666;
}
